.video {
    width: 150px;
    height: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer; 
  }
  .video span {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color:  #365899;
    margin-left: 7px;
  }
  .fa-video {
    margin-left: 5px;
    font-size:14px;
    color:#008080;
  }