.sidepages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 30px;
}
.sidepagesphoto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 140px;
    height: 25px;
    margin-left: 3px;
}
.sidepages:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;    
  }
  .sidepagesphoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 10px;
  }
  .fa-font-awesome-alt {
    margin-left: 2px;
    font-size: 20px;
    color: #FFA500;
  }