.dots {
    border-radius: 18px;
    background: #f6f7f9;
    width: 50px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .dots:hover {
    cursor: pointer;
    background-color: #e9ebee;
  }
  .fa-ellipsis-h {
  margin-left: 8px;
    font-size:18px;
    color:gray;
  }