.album {
    border-right: 1px solid #dddfe2;
    width: 160px;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer; 
  }
  .album span {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    margin-left: 7px;
    color:  #365899;
  }
  .fa-address-card {
    margin-left: 7px;
    font-size:14px;
    color:#008080;
  }