body {
    background: #E9EBED;
  } 
  .container {
    position: relative;
    top: 40px;
    height: 100%;
    width: 100%;
    background: #E9EBED;
  }
  .fbpage {
    width: 960px;
    height: 100%;
    display: flex;
    margin: auto;
    position: relative;
  }
  .header {
    height: 40px;
    width: 100%;
    background: #4267b2;
    position: fixed;
    z-index: 10;
  }
  .headerLeft {
    width: 480px;
    height: 40px;
    left: 200px;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .header-fblogo {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .facebookLogo {
    border-radius: 3px;
    width: 24px;
    height: 24px;
  }
 
  